<form method="POST" action="/auth">

    <div class="box">
        <div class="container">
            <input type="text" name="username" placeholder="username" class="user-box">
            <input type="password" name="password" placeholder="password" class="key-box">
        </div>
        <div id="submit-btn"><input type="submit" id="submit"></div>
    </div>
</form>

<style>
    *{
        margin:0;
        padding:0;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        width: 180px;

        padding-top: 110px;
        padding-left: 30px;
         padding-right: 30px;
     
        height: 255px;
        margin-left:521px;
        margin-top:39px;

    }
    .container{
        display: flex;
        flex-direction: column;
           gap:10px;
    }
    .user-box{
        text-align: center;
        height: 22px;
    }
      .key-box{
              text-align: center;
        height: 22px;
    }
    #submit-btn{
        margin-top:20px;
        margin-left:62px;
       
    }
    body{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,159,11,1) 0%, rgba(210,184,208,1) 0%, rgba(141,22,214,1) 79%, rgba(0,212,255,1) 97%);
    }
</style>