<div class="header">
    <h1>
    Welcome to my website
</h1>
<div class="container">
    
    <a href="/create"><button class="box">SignUp</button></a>
    <a href="/auth"><button class="box">Login</button></a>
</div>
</div>
<div class="container-2">
<p>Create your blogs </p>
</div>




<style>
    *{
        margin:0;
        padding:0
    }
    body{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,159,11,1) 0%, rgba(210,184,208,1) 0%, rgba(141,22,214,1) 79%, rgba(0,212,255,1) 97%);
    }
    .header{
        display: flex;
        flex-direction: row;
        margin-left:521px;
        margin-top:40px;
        width: fit-content;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container{
        display: flex;
        flex-direction: row;
       gap:10px;
       margin-left:290px;
       
    }
    .box{
        height: 40px;
        width: 83px;
        font-family: 'Courier New', Courier, monospace;
    }
    .box:hover{
        background-color: black;
        color:white;
    }
 
    .container-2{
        display:flex;
        align-items: center;
        border:1px solid black;
        width:500px;
        height:120px;
        margin-left:450px;
        margin-top:40px;
         background-color: #051937;
         justify-content: center;
         color: white;
         font-size: 28px;
        transition: 0.15s;
    }
    .container-2:hover{
        transform: scale(1.1);
    }
    .img{
       
      
    }
</style>